.accordion {
    background-color: #E1EBEE;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
  }
  .aspirant-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  
  .faq-section {
    width: 100%;
  }
  .faqs-heading{
    margin-left: 35%;
    margin-bottom : 10px;
    margin-top : 10px;
    font-family : "Poppins";
    font-size:50px;
  }
  /* FAQ CSS ENDS HERE*/
  .Top-Image{
    margin-top:0;
    margin-bottom: 0;
    padding-top:0;
  }
  .content-aspirant-top{
    background-color: #cbedff;
    margin-top:-20px;
    padding-top:0;
    display:flex;
    flex-direction:row;
  }
.content-aspirant-right{
  margin-left:12%;
}
.content-aspirant-right-heading{
  font-size:3rem;
  font-family:"Poppins";
}
.aspirant-point{
  font-size:1.5rem;
  font-family:"Poppins";
  margin-top:0.6rem;
}
@media (max-width: 768px) {
  .content-aspirant-right-heading{
    font-size:1.5rem;
    font-family:"Poppins";
  }
}

.content-aspirant-image{
  width:24rem;
  margin-left:2rem;
}
/* CSS FOR CONTACT CARDS */
  .contact-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 60px;
  }
  
  .contact-card {
    background-color: #E1EBEE;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px #48abe0;
    margin-bottom:30px;
  }
  
  /* .contact-card .picture img {
    border-radius: 50%;
  } */
  
  @media (max-width: 768px) {
    .contact-section {
      grid-template-columns: 1fr;
    }
  }
  /*CSS FOR SLIDER*/
  /* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 .Testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkblue;
} 

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.description {
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

.swiper-button-next, .swiper-button-prev {
  transition: color 0.3s ease;
  transform: translateY(-50%);
  width: 50px;
}

.swiper-button-next {
  right: -70px; /* Move right arrow further away */
}

.swiper-button-prev {
  left: -70px; /* Move left arrow further away */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #4070F4;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}
.Testis-heading{
  color: white;
  font-family: "Poppins";
  margin-left:2rem;
}

.kym-heading{
  font-family:"Poppins";
  font-size:50px;
  margin-top:0.25rem;
  margin-left:33%;
}
@media screen and (max-width: 768px) {
  .Testis-heading{
    display:none;
  }
  .faqs-heading{
    margin-left:25%;
    font-size:2rem;
  }
  .kym-heading{
    font-family:"Poppins";
    font-size:20px;
  }
  .content-aspirant-image{
    display:none;
  }
}